extends layout.jade

block revealPresentation
	div(class="reveal revealPresentation")
		.slides
			- stripes.forEach(function(stripe){
				section
					- stripe.forEach(function(slide){
						section(id=slide.locals.uuid) !{slide.html({tags: ["main", "tag1", "tag2"]})}
					- })
			- })
	script.
		var revealPresentation = Reveal.initialize(!{JSON.stringify(config.revealjs)})
	script(src="js/remoteControl.js")
