extends layout.jade

block revealPresentation
	div(class="reveal revealPresentation")
		.slides
			- stripes.forEach(function(stripe){
				section
					- stripe.forEach(function(slide){
						section(id=slide.uuid) !{slide.html}
					- })
			- })
	script.
		var revealPresentation = Reveal.initialize(!{JSON.stringify(config.revealjs)})
	script(src="plugin/remoteControl/remoteControl.js")
