doctype html(lang='en')
html
	head
		meta(charset='utf-8')
		
		title #{config.presentation.meta.title}
		
		meta(name='description', content=config.presentation.meta.description)
		meta(name='author', content=config.presentation.meta.author)
		
		// Viewports
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui')
		
		
		// CSS
		link(rel='stylesheet', href='css/reveal.css')
		link(rel='stylesheet', href='/css/slides.css')
		// Theme (TODO: move to config)
		link#theme(rel='stylesheet', href='css/theme/sky.css')
		
		// JS
		script(src="js/helper.js")
		script(src="js/socket.io.js")
		script(src='js/reveal.js')
		
	body
		block revealPresentation
